@{
    ViewData["Title"] = "Home Page";
}

@model FormModel

<div class="text-center">
    @{Html.BeginForm();
    {
        <div>
            Title: <br>
            @Html.TextAreaFor(model => model.Title)
        </div>
        <div>
            Content: <br>
            @Html.TextAreaFor(model => model.Content)
        </div>
        <div>
            <input type="submit" value="Create"/>
        </div>
    }
    Html.EndForm();

            
        <div>
        Posted Title: <br>
        @Html.DisplayFor(model => model.Title)
        </div>
        <div>
            Posted Content: <br>
            @Html.DisplayFor(model => model.Content)
        </div>
        <div>
            Split words: <br>
            <ol>
            @for (int i = 0; i < 3; i++)
            {
                <li>@Html.DisplayFor(model => model.SearchWords[i])   </li>
            }
            </ol>             
        </div>
    }
</div>
